#container {
    height:     75%;
}

#css, #html {
    min-width:  300px;
}

#css, #html {
    width:      50%;
}

#css {
    float:      left;
}

#html {
    float:      right;
}

textarea {
    width:      100%; 
}
