body {
	background-color: #0d0d0d;
	color: #dfdfdf;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	padding-bottom: 250px;
	position: relative;
    height:90%
}

#container {
	position: relative;
	padding-top: 1px;
    width:800px;
    margin-bottom: -30px;
    position: relative;
}

#nav {
	position: absolute;
	top: 60px;
	left: 100px;
	width: 400px;
    font-size:14px;
}


h1, h2, h3 {
	font-weight: normal;
	line-height: 1.35;
}
h1{
    color:#920E0E;
    font-size:80px;
    margin-bottom:-10px;
}
h3{
    font-size:18px;
    line-height:33px;
    border-bottom:1px solid #333333
}

h3.last{
    border-bottom: none !important;
}

a{
    color:#C8DCE5;
}

.description{
    margin: 10px 10px 0 10px;
    padding:0 9px 7px;
    width:400px;
    left:195px;
    position:fixed;
}
.para{
    padding: 10px 0;
    font-size:13px;
}
		TEXTAREA { width: 100%; height:100%}
		FIELDSET { padding: 1em; margin: 0; }
		LEGEND { color: #ccc; font-size: 120; }
		INPUT, TEXTAREA { font-family: Arial, verdana; font-size: 100%; padding: 7px; }

UL.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 6px;
}

UL.tabNavigation LI {
    display: inline;
}

UL.tabNavigation LI A {
    padding: 3px 5px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
}

UL.tabNavigation LI A.selected,
UL.tabNavigation LI A:hover {
    background-color: #333;
    color: #fff;
    padding: 6px;
}

UL.tabNavigation LI A:focus {
	outline: 0;
}

div.tabs > div {
	padding: 5px;
minheight: 100%;
}

div.tabs > div h2 {
	margin-top: 0;
}

#first, #second {
height:90%
}

.waste {
	min-height: 20%;
}

