#container {
    height:     75%;
}

#css, #html, #result {
    min-width:  300px;
}

#css, #html {
    width:      30%;
}

#css {
    float:      left;
}

#html {
    float:      right;
}

#result {
    text-align: center;
}

/*textarea {
    width:      100%; 
}*/
