#container
{
	width:96%;
	margin:0 auto;
	min-width:760px;
}

#content
{
	position:relative;
	width:67%;
	padding:15px 25px;
	border:2px solid #ccc;
	float:right;
	min-width:450px;
	min-height:330px;
}

#content2
{
	position:absolute;
	width:30%;
	border:2px solid #ccc;
	float:left;
	min-height:330px;
}

/* layout of paste */

.pastebox
{
	width:100%;
}

